<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <title>Rifft</title>
  <!-- <link rel="stylesheet" href="bootstrap-vue/dist/bootstrap-vue.css"> -->
</head>

<body>
  <div id="app">
    <router-view>
    </router-view>
  </div>
  <!-- built files will be auto injected -->
  <style>
    body {
      background-color: rgba(142, 124, 195, 0.88);
    }
  </style>
</body>

</html>