<template>
<div id="collaborations">
<h3>Collaborators</h3>
    <div v-for="user in userList" v-bind:id="user.fields.id"> 
        <p v-if="user.fields.username==='Big Music'">
        {{user.fields.Collaborators | listCollabs}}</p>
    </div>
</div>
</template>
<script>

let userTableId = 'appcoSu8QKWfJj4dV';
let airtableToken = 'keytDm2HHXLf7kHbc';
let req = new Request('https://api.airtable.com/v0/' + userTableId + '/Users',{
  method: 'GET',
  headers: {
    'Authorization': 'Bearer ' + airtableToken,
  }
});

let userList = {};

export default {
    name: 'collaborations',
    data () {
        return {
            userList: userList,
        }
    },
    methods: {
        getCollabs: function() {
            let userlistData = fetch(req)
            .then((res) => {
                return res.json();
            })
            .then((airRes) => {
                console.log({
                    airRes: airRes
                });
                return airRes.records;
            });
            return userlistData;
        },
    },
    mounted: function () {
        this.getCollabs()
        .then((data) => {
            this.userList = data.filter(v => v.fields.name);
        });
    },
    filters: {
        listCollabs: function (value) {
            if (!value) return ''
            return value.toString().replace(/\|/g , ', '); 
        }
    }
}
</script>
