<template>
  <div class="contentCard">
    <!-- {{media}} -->
    <div class="card">
      <div class="responsive-wrapper">
        <iframe class="responsive-embed" :src="media.File" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <!-- <img class="card-img-top" src="{{media.File}}" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">{{media.Name}}</h5>
        <p class="card-text">{{media.Description}}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Message</a>
        <a href="#" class="card-link">Favorite</a>
      </div>
    </div> 
  </div>
</template>

<script>

export default {
  name: 'contentCard',
  props: {
    media: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card {
  overflow: hidden;
  border-radius: 15px;
  padding: .25em;
  box-sizing: border-box;
}
.card-title {
  font-family: "Roboto";
  text-align: left;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
}
.card-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 13px;
  text-align: left;
}
.card-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #8E7CC3;
  transition: .25s;
}

.card-link {
  outline: #333;
}
.responsive-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56%;
}
.responsive-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
</style>
