<template>
    <nav class="nav">
        <ul class="nav justify-content-end mx-auto">
            <li class="nav-item" v-for="nav in navItems">
                <router-link class="nav-link active" :to="nav.url"><span :class="nav.icon"></span></router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
const navItems = {
    Home: {
        url: '/',
        label: 'Home',
        icon: 'fas fa-home',
    },
    Discover: {
        url: '/discover',
        label: 'Discover',
        icon: 'fas fa-search',
    },
    Settings: {
        url: '/settings',
        label: 'Settings',
        icon: 'fas fa-cog',
    }
};
export default {
  name: 'Nav',
  data () {
      return {
          navItems: navItems,
      }
  }  
}
</script>

<style>
nav.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,.9);
    z-index: 100;
}
.nav .fas {
    color: #000;
    font-size: 32px;
}
</style>