<template>
<div id="preferences">
<h3>Preferences</h3>
<button class="search-button btn-secondary btn my-2 my-sm-0" type="submit">delete account</button>
</div>
</template>
<script>



export default {
    name: 'preferences',
    data () {
        return {}
    }
}
</script>