<template>
<div id="socialinks">
<h3>Social Links</h3>
<a href="https://facebook.com">facebook</a><br>
<a href="https://twitter.com">twitter</a>
</div>
</template>
<script>

export default {
    name: 'socialinks',
    data () {
        return {}
    }
}
</script>

