
<template>
  <div id="app">
    <h1 class="site-title" style="color: #fff;">Rifft</h1>
    <div class="home-bg"></div>
    <Nav> </Nav>
    <h2 class="sub-title" style="color: #fff;">flawless collaboration</h2>
    <div class="about-text">
      <p>Rifft is a tool designed for musicians to easily capture and distribute audio and video to select users</p>
    </div>
    <div class="sign-in">
      <p><a href="#!">Sign In</a> or <a href="#!">Create Account</a></p>
      <label for="email">Email</label>
      <input type="input" name="email" placeholder="email">
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import ContentCard from './components/ContentCard.vue'
import Nav from './components/Nav.vue'


let userTableId = 'appcoSu8QKWfJj4dV';
let airtableToken = 'keytDm2HHXLf7kHbc';
let req = new Request('https://api.airtable.com/v0/' + userTableId + '/Audio',{
  method: 'GET',
  headers: {
    'Authorization': 'Bearer ' + airtableToken,
  }
});
let audioList = {};

export default {
  name: 'app',
  components: {
    // HelloWorld
    ContentCard,
    Nav
  },
  data () {
    return {
      audioList: audioList,
    }
  },
  methods: {
    getAudio: function () {
      let audiolistData = fetch(req)
      .then((res) => {
        return res.json();
      })
      .then((airRes) => {
        console.log({
          airRes: airRes
        });
        return airRes.records;
      });
      return audiolistData;
    },
  },
  mounted: function () {
    this.getAudio()
    .then((data)=> {
      // return all audio items that have a description
      this.audioList = data.filter(v => v.fields.Description);
      console.log({
        audioList: this.audioList
      });
    });
  }
}
</script>

<style>
html {
  min-height: 100vh;
}
body {
  background-color: rgba(142, 124, 195, 0.88);
  background-image: url('/images/homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-heigth: 100vh;
}
/* h1.site-title {
  color: #8E7CC3;
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  text-align: center;
} */
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
.site-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 96px;
  color: #fff;
  text-align: center;
}
.sub-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
}
.about-text {
  background-color: #F2F2F2;
  padding: 1em;
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto 1em;
  border-radius: 15px;
}
.about-text p {
  color: #8E7CC3;
}
.sign-in {
  background-color: #F2F2F2;
  margin: 0 auto 1em;
  padding: 1em;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 15px;
}
.sign-in input {
  width: 100%;
  margin-bottom: .5em;
}
pre {
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  background-color: #f6f8fa;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px;
}
</style>
