
<template>
  <div id="discover">
    <Nav> </Nav>
    <h1>Discover</h1>
    <form class="form-inline">
      <input class="form-control mr-auto mt-2 mt-lg-0" type="search" placeholder="Search" aria-label="Search">
      <button class="search-button btn-secondary btn my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!-- <pre>{{audioList}}</pre> -->
    <div class="media-wrapper">
      <ContentCard class="media-card"
        v-for="audio in audioList"
        :media="audio.fields"
        :key="audio.id">
      </ContentCard>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import ContentCard from './components/ContentCard.vue'
import Nav from './components/Nav.vue'


let userTableId = 'appcoSu8QKWfJj4dV';
let airtableToken = 'keytDm2HHXLf7kHbc';
let req = new Request('https://api.airtable.com/v0/' + userTableId + '/Audio',{
  method: 'GET',
  headers: {
    'Authorization': 'Bearer ' + airtableToken,
  }
});
let audioList = {};

export default {
  name: 'discover',
  components: {
    // HelloWorld
    ContentCard,
    Nav
  },
  data () {
    return {
      audioList: audioList
    }
  },
  methods: {
    getAudio: function () {
      let audiolistData = fetch(req)
      .then((res) => {
        return res.json();
      })
      .then((airRes) => {
        console.log({
          airRes: airRes
        });
        return airRes.records;
      });
      return audiolistData;
    },
  },
  mounted: function () {
    this.getAudio()
    .then((data)=> {
      // return all audio items that have a description
      this.audioList = data.filter(v => v.fields.Description);
      console.log({
        audioList: this.audioList
      });
    });
  }
}
</script>

<style>
#discover {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
.site-title {
  font-family: "Roboto", sans-serif;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #333;
  text-align: right;
  margin-top: 2em;
  margin-right: 2em;
}
.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2em);
  max-width: 600px;
  margin: 0 auto 1em;
}
@media screen and (min-width: 950px) {
  .form-inline {
    max-width: calc(100%/3);
  }
}
.form-control {
  margin: 0 .5em 0 0 !important;
  flex: 1;
}
.search-button {
  width: calc(100%/3) !important;
}
.media-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto 3em;
  overflow: hidden;
}
.media-card {
  width: calc(100% - 1em);
  margin-bottom: 1em;
}
@media screen and (min-width: 600px) {
  .media-card {
    width: calc(100%/2 - 1em);
  }
}
@media screen and (min-width: 950px) {
  .media-card {
    width: calc(100%/3 - 1em);
  }
}
pre {
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  background-color: #f6f8fa;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px;
}
</style>
