
<template>
  <div id="home">
    <h1>Home</h1>
    <pre>{{audioList}}</pre>
    <ContentCard 
      v-for="audio in audioList"
      :audioList="audio.fields"
      :key="audio.id">
    </ContentCard>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import ContentCard from './components/ContentCard.vue'


let userTableId = 'appcoSu8QKWfJj4dV';
let airtableToken = 'keytDm2HHXLf7kHbc';
let req = new Request('https://api.airtable.com/v0/' + userTableId + '/Audio',{
  method: 'GET',
  headers: {
    'Authorization': 'Bearer ' + airtableToken,
  }
});
let audioList = {};

export default {
  name: 'home',
  components: {
    // HelloWorld
    ContentCard
  },
  data () {
    return {
      audioList: audioList
    }
  },
  methods: {
    getAudio: function () {
      let audiolistData = fetch(req)
      .then((res) => {
        return res.json();
      })
      .then((airRes) => {
        console.log({
          airRes: airRes
        });
        return airRes.records;
      });
      return audiolistData;
    },
  },
  mounted: function () {
    this.getAudio()
    .then((data)=> {
      // return all audio items that have a description
      this.audioList = data.filter(v => v.fields.Description);
      console.log({
        audioList: this.audioList
      });
    });
  }
}
</script>

<style>
#discover {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
pre {
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  background-color: #f6f8fa;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px;
}
</style>
