<template>
<div id="settings">
<Preferences></Preferences>
<Collaborations></Collaborations>
<SocialLinks></SocialLinks>
<Nav></Nav>
</div>
</template>
<script>

import Preferences from './components/Preferences.vue'
import Collaborations from './components/Collaborations.vue'
import SocialLinks from './components/SocialLinks.vue'
import Nav from './components/Nav.vue'

export default {
    name: 'settings',
    components: {
        Preferences,
        Collaborations,
        SocialLinks,
        Nav
    },
    data () {
        return {
        }
    }
}

</script>
<style>
/* .site-title {
  font-family: "Roboto", sans-serif;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #333;
  text-align: right;
  margin-top: 2em;
  margin-right: 2em;
} */
#settings {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
pre {
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  display: block;
  background-color: #f6f8fa;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 3px;
}
</style>